body{
    min-height: 100vh;
    font-family: arial, sans-serif;
}

html{
    scroll-behavior: smooth;
    background-color:#c7e6f8;
}

* {
    box-sizing: border-box;
  }


/*------SECCION DEL HEADER ---*/

header{ 
    background-color:#587897;
    padding: 10px;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 0 6px 10px rgba(3, 3, 3, 0.623);
}

header img{
    width: 100px;
    height: 100px;
    display: flex;
    margin-left: 10px;
}

nav a{
    margin: 20px 15px;
    text-decoration: none;
    padding: 20px 20px;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 20px;
}

nav a:hover{
    background-color:rgb(224, 94, 218);
    color: black;
    padding: 20px 20px;
    border-radius:30px;
}

/*--------*/

/* SECCION PRESENTACION */


.presentacion{
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    background-color: aliceblue;
    padding: 20px;
    text-align: left;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 0 6px 10px rgba(3, 3, 3, 0.623);
}

.presentacion button{
    display: flex;
    cursor: pointer;
    background-color: #b93ead;
    color: aliceblue;
    text-decoration: none;
    border-radius: 20px;
    padding: 20px 20px;
    border: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.presentacion a{
    text-decoration: none;
}

.presentacion button:hover{
    background-color:#97178d;
    color:aliceblue;
    transition: 0.2s;
}

/*TEXTO DE LA CLASE PRESENTACION*/

.texto1{
    font-size: 25px;
    color:#0e4153;
}

/* --- SECCION ESPECIALES-- */

.especiales{
    color:#0e4153;
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
    margin-top: 20px;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    gap: 10px;
    font-size:larger;
    box-shadow: 0 6px 10px rgba(3, 3, 3, 0.623);
}



.carousel{
    display: flex;
    overflow: hidden;
}


.carousel h1{
    display: flex;
    margin-top: 10%;
}

.seccion1{
    min-width: 100%;
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 80px;
    background-color: #93c0bc;
}

.seccion1 img{
    max-width: 35%;
    height: 50%;
    margin-bottom: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0 6px 10px rgba(3, 3, 3, 0.623);
}

.especiales button{
    background-color: #b332a1;
    color:aliceblue;
    height: 80px;
    width: 90px;
    margin-top: 200px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px 10px;
}

.especiales button:hover{
    background-color:#83167a;
    color: aliceblue;
    transition: 0.1s;
}

.especiales img{
    width: 100%;
    height: 200px;
    margin: auto;
 }

.especiales .boton_seccion{
    background-color: #307e9b;
    margin-top: 20px;
    width: 100px;
    height: 50px;
}

/*------ SECCION FAVORITOS ----*/

.favoritos{
    color:#0e4153;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
    margin-top: 20px;
    border-radius: 30px;
    padding: 20px;
    gap: 10px;
    font-size:larger;
    box-shadow: 0 6px 10px rgba(3, 3, 3, 0.623);
}

.favoritos h1{
    text-align: center;
}

.favoritos .album{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.album img{
    width: 100%;
    height: 300px;
    margin: auto;
 }

.seccion2 img{
    max-width: 50%;
    height: 50%;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0 6px 10px rgba(3, 3, 3, 0.623);
}



/*------------*/

.reseñas{
    color:#0e4153;
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
    margin-top: 20px;
    border-radius: 30px;
    padding: 20px;
    text-align: left;
    justify-content: center;
    gap: 10px;
    font-size:larger;
    box-shadow: 0 6px 10px rgba(3, 3, 3, 0.623);
    flex-direction: row-reverse;
}

.reseñas h2{
    padding: 30px;
}

.reseñas .usuarios{
    display: flex;
    gap: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 20px;
}


/*--------------------*/

.carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color:#c7e6f8;
    margin-top: 20px;
}

.social{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 20px;
    gap: 20px;
}

.social h2{
    color:#0e4153;
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
    margin-top: 20px;
    border-radius: 30px;
    padding: 20px;
    text-align: left;
    justify-content: center;
    gap: 10px;
    font-size:larger;
    box-shadow: 0 6px 10px rgba(3, 3, 3, 0.623);
}

.final{
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* DISEÑO IMAGENES ESTRELLAS */

.star1{
    display: inline-block;
    width: 150px;
    height: 30px;
    background-image: url(icons/icon-star.svg);
    background-repeat: repeat-x;
    background-size: 30px 30px;
}

.star2{
    display: inline-block;
    width: 90px;
    height: 30px;
    background-image: url(icons/icon-star.svg);
    background-repeat: repeat-x;
    background-size: 30px 30px;
}

.star3{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(icons/icon-star.svg);
    background-repeat: repeat-x;
    background-size: 30px 30px;
}

/* DISEÑO IMAGENES*/

.image-hero{
    margin-left: 20px;
    width: 70%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    background-color:#0e4153;
}

/*DISEÑO DE BOTONES*/


#scroll_arriba {
    background-color: #b93ead;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:aliceblue;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    text-decoration: none;
}

#scroll_arriba:hover {
    background-color:#83167a;
}

#scroll_arriba a {
    text-decoration: none;
    color:aliceblue;
}

.sociales button {
    flex: 1;
    margin: 0 5px;
    background-color: #b332a1; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 5px 10px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Para que los botones se alineen uno al lado del otro */
    font-size: 20px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
    width: 100px; /* Ancho fijo para todos los botones */
    height: 50px;
}

.sociales button:hover {
    background-color:#83167a; /* Color de fondo al pasar el mouse */
}


/* Responsive design */

@media (max-width: 768px) {
    .presentacion {
        flex-direction: column; /* Cambia a columna en pantallas más pequeñas si es necesario */
        align-items: center; /* Centra los elementos */
    }

    .nav-list{
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #c7e6f8;
        top: 60px;
        right: 0;
        width: 100%;
    }

    .nav-list.active{
        display: flex;
    }

    .seccion1{
        flex: 1 1 calc(50% - 20px);
    }
}






/*DISEÑO DEL FORMULARIO*/

.presentacion img {
    max-width: 100%; /* La imagen no excederá el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 15px; 
}

.carrito div, .carrito article {
    flex: 1 1 45%;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carrito h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.whatsapp-link {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: #25d366;
    text-decoration: none;
    margin-top: 10px;
}

.whatsapp-link .icon2 {
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea, form select, form button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

form button {
    background-color:#b95cb0;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background-color:#b95cb0;
}